@charset "utf-8";
/* CSS Document */


h2{
    width:20rem;
    font-variant: small-caps;
    color:#FFB81E;
/*    background-color:#242729;*/
    padding:0rem .25rem .5rem 2rem;
    border-radius:.5rem 0rem .5rem;
    background-image: linear-gradient(#652F7E,#242729);
}

.Home-Grid{
    display:grid;
    background-color:#242729;  /*Charcoal*/
    grid-template-areas:
        'A'
        'B'
        'C'
        'F';
    grid-template-columns:100%;
    grid-template-rows: auto;
    gap:.5em;
    margin:8.5rem 10rem .5rem 10rem;
}

.Section_A{
    grid-area: A;
    display:flex;
    flex-direction: column;
    align-content: flex-end;
    border-radius: .5rem;
    background-color: whitesmoke;
}

.Section_A p{
    padding:2rem;
    text-align: justify;
}

.Section_B{
    grid-area: B;
    display:flex;
    flex-direction: column;
    align-content: flex-end;
    background-color: whitesmoke;
    border-radius: .5rem;
    color:white;
}

.Section_B ul{
    list-style-type:square;
    padding:1rem;
    padding-left:3rem;
    line-height: 2;
}

.Section_C{
    grid-area: C;
    display:flex;
    flex-direction: column;
    align-content: flex-end;
    background-color: whitesmoke;
    padding:0em;
    border-radius: .5rem;
}

.Section_C p{
    padding:2rem;
    text-align: justify;
}

.Footer a {
        background-color:whitesmoke;
    }
    
.Footer a:hover {
        background-color:whitesmoke;
    }



@media (max-width: 768px) {
    
.Home-Grid{
/*    grid-template-columns: 475px;*/

    margin:5.5rem .25rem 2rem .25rem;
    padding-left: .5rem;
    padding-right:.5rem;
}    
}